body {
  background: red;
}
body header {
  display: flex;
  justify-content: center;
}
body section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body section .inputContainer {
  display: flex;
  justify-content: center;
}
body section .inputContainer input {
  height: 30px;
}
body section .inputContainer button {
  margin-left: 10px;
  background: black;
  color: white;
  border: none;
  padding: 10px;
}
body section .contentWrapper {
  margin-top: 20px;
}
body section .contentWrapper .imgContainer {
  height: 400px;
  width: 400px;
  border: 4px solid #0058dc;
  border-radius: 19px;
  background: white;
}
body section .contentWrapper .imgContainer img {
  height: 100%;
}
body section .contentWrapper h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
