body
    background: red
    header
        display: flex
        justify-content: center
    section
        display: flex
        flex-direction: column
        align-items: center
        .inputContainer
            display: flex
            justify-content: center
            input
                height: 30px
            button
                margin-left: 10px
                background: black
                color: white
                border: none
                padding: 10px
        .contentWrapper
            margin-top: 20px
            .imgContainer
                height: 400px
                width: 400px
                border: 4px solid #0058dc
                border-radius: 19px
                background: white
                img
                    height: 100%
            h1
                text-align: center
                font-size: 3rem
                color: white
                text-transform: capitalize
